{{!< layout}}

<div class="container">
    {{#if errorMessage}}
        Authentication failed. <br />
        {{errorMessage}} <br />
        Please try again later
    {{else}}
        Redirecting...
    {{/if}}
    {{debug}}
</div>
<script type="text/javascript">
    window.opener.postMessage({action: 'token', data: '{{accessToken}}'});
</script>
<style>
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
</style>
