{{!< layout}}
<script type="text/javascript">
    const mcEditorUrl = "{{mcEditorUrl}}";
    const mcEditorEditUrl = "{{mcEditorEditUrl}}";
    const JWTToken = "{{token}}";
    const mcAccessToken = "{{mcAccessToken}}";
</script>
<link rel="stylesheet" href="/css/editor.css" type="text/css" />
<script src="/js/editor/editor.js" type="module"></script>
<div class="ac-content" id="editor-content"></div>
