{{!< layout}}
<div class="ac-content" id="content">
    <div id="image"></div>
    <div id="caption"></div>
</div>
<style>
    #content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>
<script type="module">
    import {IMAGE_SIZES} from '/js/constatnts.js';
    const imageContainer = document.getElementById('image');
    AP.confluence.getMacroBody((macroBody) => {
        imageContainer.innerHTML = macroBody;
    });
    AP.confluence.getMacroData(async (data) => {
        if (data.caption) {
            document.getElementById('caption').innerText = data.caption;
        }
        imageContainer.style.width = `${IMAGE_SIZES[data.size].width}px`;

        // const container = document.getElementById('image');
        // const img = document.createElement("img")
        // img.src = '/diagram?' + (new URLSearchParams({ ...data, jwt: "{{token}}" }).toString())
        // img.alt = data.title;
        // img.width = IMAGE_SIZES[data.size].width;
        // container.appendChild(img);
    });
</script>
